.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;
  font-size: 7rem;

  > * {
    padding-left: 30px;
  }
  

p {
  width: 55%;
  min-width: 550px;
  font-size: 2rem;
  line-height: 3rem;
  a:link {
    text-decoration: $secondary-color;
  }
  a:link {
    text-decoration: underline;
  }
}

 img, video {
  height: 350px;
  width: 550px;
  margin-bottom: 30px;
}
}
